{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/login.css' %}">
{% endblock %}

{% block main %}
    <div class='header' style='text-align:left;'>
        <img class='header_img' src="{% static 'img/favicon.png' %}"/>
        <h1 class='header_title'>Hoco Hunt 2021</h1>
    </div>
    <div class='login-box'>
        <p><b>Login in with your Ion account</b> to access the Hoco Hunt 2021.</p>
        <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class='btn btn-ion'>Log in with Ion</a>
    </div>
{% endblock %}